#content {
    max-width: 1600px;
    margin: 0 auto;
}
#hero-msg h1, #hero-msg h4, .button-box, main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #ABD9C6;
}
body {
    background-color: #CBD0E2;
    font-family: Candara, Futura, Calibri;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    padding: 10px;
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-around;
}
nav a {
    text-decoration: none;
    color: #63B995;
    text-align: center;
    padding-left: 35px;
    padding-top: 30px;
}
nav a:hover {
    color: #CA895F;
    /* background-color: #EBD2C2; */
}
.book, .join {
    text-decoration: none;
    color: #414E76;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    background-color: #909CC2;

}
.book:hover, .join:hover {
    color: #E0BCA3;
}
header {
    background-color: rgba(73, 72, 80, 0.8);
    display: grid;
    grid-template-columns: 150px auto;
}
footer {
    background-color: #494850;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    font-size: 1em;
    text-decoration: none;
    color: #63B995;
}
footer a {
    text-decoration: underline;
    color: #63B995;
}
footer a:hover {
    color: #CA895F;
    /* background-color: #EBD2C2; */
}
footer .social img {
    padding-top: 15px;
}
.msg h2, .msg p {
    color: #494850;
}
h1, h4 {
    color: #494850;
}
h2 {
    margin: 0;
}
.logo {
    width: 80px;
    padding: 10px;
    background-color: #ABD9C6;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
.home-title, .msg h2 {
    font-family: 'Arial Black', 'Times New Roman', Cambria;
    margin-top: 10px;
}
.home-title {
    font-size: 2em;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
}
.msg p {
    font-size: .8em;
    padding-bottom: 15px;
}
.card-img {
    border: 10px solid #494850;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.msg {
    background-color: #E0BCA3;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
main section img {
    box-sizing: border-box;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-msg {
    background-color: #E0BCA3;
    padding-bottom: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            