#content {
    max-width: 1600px;
    margin: 0 auto;
}
body {
    font-size: 22px;
    background-color: rgb(228, 233, 239);
}

/* header stuff */
header {
    display: grid;
    grid-template-columns: 5em auto;
    background-color: rgba(121, 128, 134, 0.5);
}
header a img {
    width: 5em;
}
header a img:hover {
    transform: scale(1.1);
}
header a {
    grid-column: 1/1;
    grid-row: 1/1;
    z-index: 2;
}
nav {
    grid-column: 2/3;
    grid-row: 1/1;
    z-index: 0;
    display: flex;
    align-items: center;
} 
nav a {
    text-decoration: none;
    text-align: center;
    justify-self: center;
    color: white;
    z-index: 2;
    padding: 0.5em;
    margin-left: 2em;
    padding: 10px;
    background-color: rgba(121, 128, 134, 0.3);
    border-radius: 1em;
    font-size: 25px;

}
nav a:hover {
    background-color: #2E6171;
    border-radius: 1em;
    transform: scale(1.1);
}

/* footer stuff */
footer {
    background-color: rgba(46, 97, 113, 0.7);
    /* border-radius: 1em; */
    padding: 0em 2em;
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* justify-content: space-around; */
    align-items: center;
    justify-items: center;
}
footer p {
    color: white;
    text-decoration: none;
}
footer a {
    color: white;
    padding: 10px;
}
footer a:hover {
    color: whitesmoke;
    background-color: #556F7A;
    border-radius: 10px;
    transform: scale(1.1);
}

/* main stuff */
.main-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    justify-content: center;
    justify-items: center;
    place-items: center;
}
#home-title, #asteroid-title, #besquare-title {
    margin-top: 2em;
    grid-column: 1/5;
    grid-row: 1/2;
    font-size: 60px;
}
#homeimg1, #asteroidimg1, #asteroidimg2 {
    width: 90%;
    align-self: center;
    border: 10px solid #494850;
    box-shadow: 5px 5px 10px #6f7364;
}
#homep1, #homep2, #asteroidp1, #asteroidp2, #asteroidp3 {
    background-color: rgba(46, 97, 113, 0.3);
    margin-left: 3em;
    margin-right: 3em;
    box-shadow: 5px 5px 10px #6f7364;
}
#homep1 p, #homep2 p, #asteroidp1 p, #asteroidp2 p, #asteroidp3 p {
    color: black;
    padding: 2em;
    text-align: left;
}
#homeimg1:hover, #homeimg2:hover, #asteroidimg1:hover, #asteroidimg2:hover {
    transform: scale(1.1);
}
#contact-section {
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
}

/* home specific */
#homeimg1sec {
    grid-column: 1/2;
    grid-row: 2/3;
}
#homep1 {
    grid-column: 2/5;
    grid-row: 2/3;
}
#homep2 {
    grid-column: 1/4;
    grid-row: 3/4;
}
#homeimg2sec {
    grid-column: 4/5;
    grid-row: 3/4;
}
#homeimg2 {
    margin-top: 5em;
    width: 90%;
    align-self: center;
    border: 10px solid #494850;
    box-shadow: 5px 5px 10px #6f7364;
}

/* contact stuff */
#contact-title {
    grid-column: 1/6;
    grid-row: 4/5;
}
#phone {
    position: relative;
    grid-column: 2/3;
    grid-row: 5/6;
    background-color: rgba(85, 111, 122, 0.2);
    border-radius: 1em;
    width: 100%;
    color: black;
    right: 2em;
}
#email {
    position: relative;
    grid-column: 3/4;
    grid-row: 5/6;
    background-color: rgba(85, 111, 122, 0.2);
    border-radius: 1em;
    width: 100%;
    color: black;
}
#linkedin {
    position: relative;
    grid-column: 4/5;
    grid-row: 5/6;
    background-color: rgba(85, 111, 122, 0.2);
    border-radius: 1em;
    width: 100%;
    color: black;
    left: 2em;
}
#linkedin a {
    color: black;
}

/* asteroid specific */
#asteroidp1 {
    grid-column: 1/5;
    grid-row: 2/3;
    margin-bottom: 2em;
}
#asteroidimg1sec {
    display: flex;
    position: relative;
    grid-column: 1/2;
    grid-row: 3/4;
    justify-content: center;
    left: 10em;
}
#asteroidimg2sec {
    display: flex;
    position: relative;
    grid-column: 4/5;
    grid-row: 3/4;
    justify-content: center;
    right: 10em;
}
#asteroidimg1 {
    width: 125%;
    align-self: center;
}
#asteroidimg2 {
    width: 125%;
    align-self: center;
}
#asteroidp2 {
    grid-column: 1/5;
    grid-row: 4/5;
    margin-top: 2em;
}
#asteroidp3 {
    grid-column: 2/4;
    grid-row: 5/6;
    margin-top: 4em;
}
#github-link-asteroid {
    grid-column: 2/4;
    grid-row: 6/7;
}