body {
    background-color: rgb(228, 233, 239);
}
#home-grid {
    display: grid;
    grid-template-columns: minmax(auto, 300px, auto) 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-title {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 5em;
    background-color: rgba(46, 97, 113, 0.7);
    border-radius: 1em;
    padding: 1em;
    border: 5px solid #494850;
    box-shadow: 5px 5px 10px #6f7364;
    min-width: 100px;
}
h1 {
    font-size: 30px;
}
#instructions {
    font-size: 22px;
    margin-bottom: 3em;
}
#line-break {
    height: 1px;
    background: black;
}
#disclaimer {
    font-size: 15px;
}

#joke-tile {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #798086;
    border-radius: 1em;
    padding: 1em;
    border: 5px solid #494850;
    box-shadow: 5px 5px 10px #6f7364;
    margin-bottom: 5em;
}
#advice-tile {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: #798086;
    border-radius: 1em;
    padding: 1em;
    border: 5px solid #494850;
    box-shadow: 5px 5px 10px #6f7364;
    margin-bottom: 5em;
}
#joke-button {
    color: white;
    background-color: #2E6171;
    padding: 10px;
}
#advice-button {
    color: white;
    background-color: #2E6171;
    padding: 10px;
}